.site-head {
  &__site-name {
    font-weight: 600;
    letter-spacing: 0.2074rem;
    text-shadow: 1px 1px var(--color-theme-primary), 2px 2px var(--color-theme-primary),
      3px 3px var(--color-theme-primary), 0 0 2px var(--color-theme-primary-glare),
      -1px -1px var(--color-theme-primary-glare),
      -2px -2px var(--color-theme-primary-glare);
    text-decoration: none;
    color: var(--color-bg-glare);
  }
}
