:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: #{rgba(get-color('light'), 0.83)};
  --color-bg-glare: #{get-color('light')};
  --color-text: #{get-color('dark')};
  --color-text-glare: #{get-color('dark')};
  --color-selection-text: #{get-color('light')};
  --color-selection-bg: #{get-color('dark')};
  --color-stroke: #{get-color('primary')};
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: #{get-color('light')};
  --color-theme-primary: #{darken(get-color('primary'), 4.3%)};
  --color-theme-primary-glare: #{darken(get-color('primary-glare'), 5%)};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{rgba(get-color('primary'), 0.84)};
  --color-theme-info: #{get-color('primary')};
  --color-theme-button-bg: #{get-color('primary')};
  --color-theme-code-bg: #{lighten(get-color('bg-code'), 2.074%)};
  --color-theme-feature-text: #{get-color('light')};
}

@include dark-mode() {
  --color-bg: #{get-color('dark')};
  --color-bg-glare: #{get-color('slate')};
  --color-text: #{darken(get-color('light'), 1.44%)};
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('light')};
  --color-stroke: #{get-color('primary')};
  --color-theme-primary: #{lighten(get-color('primary'), 7.43%)};
  --color-theme-primary-glare: #{lighten(get-color('primary-glare'), 5%)};
  --color-action-bg: var(--color-theme-highlight);
  --color-action-text: #{get-color('dark')};
  --color-theme-highlight: #{rgba(get-color('slate'), 0.91)};
  --color-theme-highlight-block: #{rgba(get-color('primary'), 0.91)};
  --color-theme-info: #{get-color('primary')};
  --color-theme-button-bg: #{get-color('primary')};
  --color-theme-code-bg: #{darken(get-color('bg-code'), 2.074%)};
  --color-theme-feature-text: #{get-color('dark')};
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}
