/* fabrikat mono 600 - latin */
@font-face {
  font-family: 'fabrikat mono regular';
  src: url('/fonts/fabrikat_mono_regular.woff2') format('woff2'),
    url('/fonts/fabrikat_mono_regular.woff') format('woff'),
    url('/fonts/fabrikat_mono_regular.svg#fabrikat_mono_regular') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubik sans regular';
  src: url('/fonts/rubik_sans_regular.woff2') format('woff2'),
    url('/fonts/rubik_sans_regular.woff') format('woff'),
    url('/fonts/rubik_sans_regular.svg#rubik_sans_regular') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3,
header span {
  @include apply-utility('font', 'monospace');
}

h1 {
  font-size: get-size(800);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(700);
  }

  h3 {
    font-size: get-size(600);
  }
}
